.icon-container {
    display: inline-block;
 }
  
  .icon-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #ff4d6d, #d90044);
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(255, 77, 109, 0.8);
    transition: all 0.3s ease-in-out;
    outline: 4px solid #fff;
  }
  
  .heart-icon {
    color: white;
  }
  

  .icon-container:hover .icon-background {
    transform: scale(1.1);
    box-shadow: 0px 0px 12px rgba(255, 77, 109, 1);
  }