.wrapper {
    padding: 40px;
    width: 100%;
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://theme.hstatic.net/1000069970/1001119059/14/vth-footer-bg.png?v=7149");
    background-color: #ccc;
}
.container {
    margin:  auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    width: 682px;
    padding: 30px 95px ;
    border-radius: 50px;
    background-color: #fff;
}
.title {
    font-style: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #222222;
}
.listInput form{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    p {
      font-size: 16px;
      font-style: italic;
      color: rgba(0,0,0,0.6);
    }
}
  input {
    width: 120%;
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 999px;
    font-size: 16px;
    transition: all 0.3s ease;
    outline: none;
  
    &:focus {
      border-color: #FFFF00;
      box-shadow: 0 0 8px rgba(255, 255, 0, 0.4);
    }
  }
  
.buttons {
    display: flex;
    gap: 20px;
}

  .buttons .btn {
    padding: 12x 30px;
  }

