.wrapper{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.header-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 60px 30px 40px;
    width: 100%;
    background: linear-gradient(to right, #ffa000, #ffb300, #ffcc00);
    .banner {
        display: grid;
        gap: 20px;
        grid-template-areas: 
            "bigLeft bigLeft bigRightUp bigRightUp"
            "bigLeft bigLeft smallLeftDown smallRightDown";
        ;
        .item {
            position: relative;
            cursor: pointer;
        }
        .item img {
            object-fit: cover;
            transition: brightness 0.3s ease-in-out;
        }
        .item:hover img {
            filter: brightness(50%);
        }
        .bigLeft img{
            width: 543px;
            height:543px;
        }
        .bigRightUp img{
            width: 543px;
            height: 356px
        }
        .smallLeftDown img, .smallRightDown img{
            width: 264px;
            height: 170px;
        
        }
        .bigLeft {
            grid-area: bigLeft;
        }
        .bigRightUp {
            grid-area: bigRightUp;
        }
        .smallLeftDown {
            grid-area: smallLeftDown;
        }
        .smallRightDown {
            grid-area: smallRightDown;
        }
        
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: white;
            padding: 0 10px 20px;
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

            p {
            font-size: 24px;
            font-weight: 700;
            }
        }
        .smallLeftDown p, .smallRightDown p {
            font-size: 16px;
            font-weight: 600;
        }
        .item:hover .overlay {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
.footer-section {
    padding: 40px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-image: url("https://theme.hstatic.net/1000069970/1001119059/14/bg-workspace-mb.png?v=7149");
    background-color: #E7E7E7;
    margin-bottom: -20px;
}
.title {
    color: #333;
    font-weight: 700;
    font-size: 42px;
}
