.wrapper {
    font-family: "Montserrat", sans-serif;
    height: 5000px;
    background-image: url("https://theme.hstatic.net/1000069970/1001119059/14/bg-workspace-mb.png?v=7149");
    background-color: #E7E7E7;
}