.banner-events {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px  100px 250px;
    width: calc(100vw - 200px);
    
}
.banner-events .list-button {
    position: absolute;
    top: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
  } 
.banner-events .backGround {
    border-radius: 24px;
    width: 100%;
    height: 40%;
    background-color: #D62727;
    height: 400px;
}
.banner-events .banner-up {
    display: flex;
    gap: 550px;
    align-items: center;
    padding: 10px 25px 0;
} 
.btnMore {
    padding: 16px 60px;
    position: absolute;
    right: 80px;
}
/* count down */
 .countdown {
    display: flex;
    color: white;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin: 10px 20px 0;
    padding: 10px 30px;
    width: 600px;
    border-radius: 999px;
    background-color: white;
}
.countdown .desc {
    color: black;
    width: 200px;
    font-size: 24px;
}
/* list-card */
.banner-events  .list-card {
    padding: 20px;
    // display: flex;
    gap: 20px;
    margin: auto;
    max-width: 1180px;
    min-height: 430px;
    overflow: hidden;
}
