.wrapper {
    background-image: url("https://theme.hstatic.net/1000069970/1001119059/14/vth-footer-bg.png?v=7149");
    background-repeat: no-repeat;
    background-size: 100% 2010px;  
    color: white;
    
}