.articleList {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    .articleItem {
        cursor: pointer;
        width: 358px;
        height: 328px;
        img {
            width: 100%;
            height: 70%;
            transition: filter 0.3s ease-in-out;
        }

        &:hover img {
            filter: brightness(0.7);
        }
        .content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            min-height: 30%;
            margin-top: 5px;
        }
        .title {
            height: 45px;
            line-height: 22.4px;
            font-weight: 700;
            color: #555;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .desc {
            font-family: "Montserrat", sans-serif;
            color: #555;
            font-weight: 700;
            font-size: 12px;
            strong {
                font-weight: 16px;
                color: rgba(0,0,0,1);
                font-weight: 700;
            }
        }
        .line {
            content: "";
            width: 100%;
            border: 1px dashed rgba(0,0,0,0.1);
        }
    }
}