/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .wrapper {
    padding: 80px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-size: 100% auto; 
    background-repeat: no-repeat;
    background-image: url("https://theme.hstatic.net/1000069970/1001119059/14/bg-workspace-mb.png?v=7149");
    background-color: #E7E7E7;
  }
  
  .category-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 540px 540px;
    gap: 50px 40px;
    padding: 20px;
    border-radius: 0
    
  }
  .title {
    font-size: 50px;
    font-weight: bold;
    color: #494949;

  }
  .category-item {
    overflow: hidden;
    display: flex;
    align-items: center;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: translateY(-5px);
    }
  }
  .yellow-bg {
    background: #ffeb3b;
  }
  
  .category-image {
    
    width: 240px;
    height: 240px;
    margin-right: 15px;
  }
  
  .category-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:30px;
    h3 {
      font-size: 18px;
      font-weight: bold;
    }
  
    p {
      font-size: 14px;
      color: #555;
    }
  }
  
  .btn {
    outline: 3.5px solid #ffeb3b;
  }
  

  .category-item:first-child {
    border-radius: 80px 0 0 0;
  }
  .category-item:nth-child(2) {
    border-radius: 0 80px 0 0;
  }
  
  .category-item:nth-last-child(2) {
    border-radius: 0 0 0 80px;
  }
  
  .category-item:last-child {
    border-radius: 0 0 80px 0;
  }

  /* Điều chỉnh hàng cuối có 3 cột */
  @media screen and (max-width: 1024px) {
    .category-grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
  