.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: darkred;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 12px 24px;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.btn:hover {
    background-color: red;
}

.btn:hover .icon {
    color: #F3F3F3;
    transform: translateX(10px);
}