.wrapper {
    width: 72vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
    margin: auto;
}

.productBanner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #FFDE50;
    padding: 35px;
    border-radius: 25px;
    .bodyLeft {
        .image img {
            width: 178px;
            height: auto;
            object-fit: cover;
            border-radius: 15px;
        }
    }
    .bodyRight {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .title {
            line-height: 1.3;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 700;
            font-size: 30px;
            color: #222;
        }
        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .subRow {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }
        .discountPrice {
            font-size: 35px;
            font-weight: 500;
            color: #FF0000;
        }
        .discount {
            background: #25CF88;
            min-width: 70px;
            padding: 6px 13px;
            border-radius: 999px;
            color: #fff;
            font-weight: bold;
            font-size: 22px;
            text-align: center;
        }
        .originalPrice {
            margin-top: -10px;
            color: #6F6F6F;
            font-size: 22px;
            strong {
                
                color: rgba($color: #000000, $alpha: 0.7)
            }
        }
    }
}









.buyNowButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    width: 180px;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;

}
.cartIcon  {
    padding: 7px ;
    background-color: #fff;
    border-radius: 99px;
    transition: background-color 0.3s ease;

}
.cartIcon img{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 17px;
    height: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
}

  .buyNowButton:hover {
    transform: scale(1.05);
    background-color: #e60000;
  }

  .attributesChange {
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: transparent; 
    border: 2px solid #000;
    border-radius: 25px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 220px;
    white-space: nowrap;
    gap: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    span {
        padding: 8px ;
        background-color: #000;
        border-radius: 99px;
        color: white;
        transition: background-color 0.3s ease ,background-color 0.3s ease
    } 
  }
  
  
  .attributesChange:hover {
    color: white;
    background-color: #000; 
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    span {
        background-color: #fff;
        color: black;
    }
  }
  
  .attributesChange:active {
    transform: scale(0.95);
    background-color: #000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
.reviews {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    
  .title {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    border-radius: 999px;
    padding: 18px;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
  }
}