.wrapper {
    margin-left: 120px;
}

.wrapper ul {
    display: flex;
    gap: 5px;
}

.wrapper a {
    position: relative;
    display: inline-block;
    font-style: 1.8rem;
    text-align: center;
    color: rgba(95, 91, 83, 1);
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s; 
    white-space: nowrap;
}
.wrapper a i {
    position: absolute;
    font-size: 1.2rem;
    color: black;
    font-weight: 800;
    right:  0px;
    top: 25%;
}

.wrapper a:hover {
    background-color: yellow;
    opacity: 0.8;
    color: black;
}