.UserInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    .todoForm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }
    
    .form-group{
        display: grid;
        grid-template-columns: 100px 400px;
        align-items: center
    }
    .radio-group {
        width: 100px;
        display: flex;
        align-items: center;
        gap: 10px; 
    }
    
.error-message {
    color: #dc3545;
    font-size: 12px;
    margin-top: 5px;
    display: block;
  }
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius:99px;
    font-size: 14px;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.submit-btn,.address-btn {
    min-width: 400px;
    padding: 12px 20px;
    border: none;
    outline: none;
    background-color: #FFDE50;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

button {
    border-radius: 99px;
}
.submit-btn:hover,.address-btn:hover {
    background-color: #FFD700;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px); 
}
.form-group span {
    margin-top: 10px;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
    color: #222;
}

.verification-status {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
    
    &:not([data-verified="true"]) {
      color: #d9534f; 
    }
    
    &[data-verified="true"] {
      color: #5cb85c; 
    }
  }

  .imageFile {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 0 10px -10px;
  }