.Slider {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    background-image: url(https://file.hstatic.net/1000069970/file/d2c-bg-pc.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100% 514px; 
}
.Slider .list-button {
    position: absolute;
    top: 55%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
  } 
.Slider .list-bar {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
    padding: 25px 10px;
    border-radius: 24px;
    height: 30px;
}
.Slider .list-bar .btn {
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 16px;
}
.Slider .list-bar .btn:last-child {
    border: 1px solid #ccc;
}
.Slider .list-bar .btn:hover {
    background-color: #ffed00;
}

/* list-card */
.Slider .list-card {
    display: flex;
    gap: 20px;
    margin: auto;
    max-width: 1150px;
    height: 430px;
    overflow: hidden; /* Ẩn các phần tràn */
    white-space: nowrap
}
.Slider .title {
    padding-top: 40px;
    font-size: 36px;
    color: #4F4F4F;
    font-weight: bold;
}

.Slider .list-card .card-item {
    position: relative;    
    flex-shrink: 0; 
    width: 270px;
    height: 378px;
    overflow: hidden;
    border-radius: 16px;
}
.Slider .list-card .card-item img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    border-radius: 16px;
    transition: transform 0.3s ease;
}
.Slider .list-card .card-item:hover img {
    transform: scale(1.1); 
}


.Slider .list-card .card-item .ribbon {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.Slider .list-card .card-item .ribbon span {
    position: absolute;
    display: block;
    width: 180px;
    padding: 5px 0;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    transform: rotate(-45deg);
    transform-origin: 0 0;
    top: 85px;
    left: -40px;
    overflow: hidden;
}

.Slider .list-card .card-item .content {
    z-index: 1;
    position: absolute;
    max-width: 100%;
    bottom: 0;
    padding: 10px;
    color: white;
}
.Slider .list-card .card-item .content h3 {
    width: 250px;
    height: 43px;
    line-height: normal;     
    overflow: hidden;         
    text-overflow: ellipsis;
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;  
}

/* progress-bar */
.Slider .list-card .card-item .progress {
    width: 250px;
    height: 8px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}

.Slider .list-card .card-item .progress-bar {
    height: 100%;
    background-color: red;
    transition: width 0.4s ease;
}

