.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    width: 100vw;
    background-image: url(https://file.hstatic.net/1000069970/file/d2c-bg-pc.png);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 1104px;
    margin-bottom: 40px;
}
.bodyLeft {
    .image img{
        width: 351px;
        height: auto;
        object-fit: cover;
    }
}
.bodyRight {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .title {
        font-size: 35px;
        line-height: 42px;
        font-weight: bold;
    }
    ul {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 16px;
        list-style-type: disc; 
    }
}
.modern-button {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 25px;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    user-select: none; 
    width: 190px;
    height: 45px; 
    box-sizing: border-box
  }
  
  .modern-button svg {
    font-size: 16px;
    color: black;
    transition: all 0.3s ease;
  }
  
  
  .heart-active {
    background-color: #ff6666;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .heart-active svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
    color: #ff6666;
    transition: all 0.3s ease;
  }