
.card-item {
    position: relative;
    flex-shrink: 0;
    width: 255px;
    height: 390px;
    cursor: pointer;
}

.card-item .product-image {
    position: relative;
    height: 59%; 
    width: 100%;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}

.card-item .product-image img {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
    transition: transform 0.3s ease;
    transform-origin: center center;
    backface-visibility: hidden;
    will-change: transform;
} 
.card-item .product-image:hover img {
    transform: scale(1.05) translateY(-3px);
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-item .product-image .stock-info {
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    bottom: -3px;
    white-space: nowrap;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    width: 100%;
}
.product-image .stock-info div:nth-child(1) {
    flex: 1;
    background-color: #D62727;
    padding: 3px;
}

.product-image .stock-info .limited-stock {
    flex: 2;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4.5px;
}
.card-item .content {
    margin-top: 0;
    width: 100%;
    padding: 0 0 15px 0;
    border-radius: 0 0 12px 12px ;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    background-color: white;
}

.card-item .content .title {
    padding: 5px;
    min-height: 40px;
    line-height: normal;    
    overflow: hidden;         
    text-overflow: ellipsis;
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;   
}
.card-item .content .cost {
    padding: 5px;
    font-size: 12px;
    color: #666;
    font-weight: 300;
}
.card-item .content .price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-item .content .price .cost {
    padding: 5px;
    font-style: 16px;
    font-weight: bold;
    color: #222222;
}
.card-item .content .price .sale {
    color: white;
    font-weight: 700;
    padding: 5px;
    background-color: #D62727;
    border-radius: 999px;
}

.card-item .content .list-btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.card-item .content .list-btn .btn {
    padding: 8px 20px;
    border: none;
    outline: none;
    background-color: #F5F5F5;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.list-btn .btn:nth-child(1) {
    border-radius: 999px 0 0 999px;
}

.list-btn .btn:nth-child(2) {
    border-radius: 0 999px 999px 0;
}
.card-item .content .list-btn .btn:hover {
    background-color: #FFD700;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px); 
}