.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  padding: 40px;
  width: 100%;
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://theme.hstatic.net/1000069970/1001119059/14/vth-footer-bg.png?v=7149");
  background-color: #ccc;
}

.Account {
    display: grid;
    grid-template-columns: 350px 750px;
    gap: 30px;
    background-image: url();
}
.userInfo {
    display: flex;
    align-items: center;
}
p {
    font-weight: 700;
    font-size: 20px;
}

.sideBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 30px;
    background-color: #fff;
    gap: 20px;
    .crown {
        text-align: center;
        margin-left: 10px;
        font-size: 12px;
        padding: 8px;
        background-color: black;
        color: white;
        border-radius: 50%;
    }
    .account-menu ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        li {
            white-space: nowrap;
            display: flex;
            gap: 15px;
            font-weight: 700;
            font-size: 16px;
            cursor: pointer;
            padding: 10px 25px;
            display: flex;
            align-items: center;
            transition: color 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease;
            border-radius: 99px;
            background-color: #ccc;
        }
        li:hover {
            background: linear-gradient(135deg, #888, #222);
            color: white;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        }
        .icon {
            padding:8px;
            background-color: white;
            border-radius: 50%;
            transition: all 0.3s ease;
        }
        li:hover .icon {
            background-color: gold;
            box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.8); 
        }
        
    }
}


.account-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 30px;
    background-color: #fff;
    gap: 20px
}


